<%= form_with(model: @task) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% @task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>


<%= form_for @task do |t| %>

  <div class="field">
    <%= t.label :title, class: 'label' %>
    <div class="control">
      <%= t.text_field :title, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= t.label :description, class: 'label' %>
    <div class="control">
      <%= t.text_field :description, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= t.label :datetime, class: 'label' %>
    <div class="control">
      <%= t.datetime_select :datetime, class: 'input' %>
    </div>
  </div>

<!--  <div class="field">-->
    <%#= t.select :priority, Task::PRIORITIES %>
<!--    <div class="control">-->
      <%#= t.text_field :priority, class: 'select' %>
<!--    </div>-->
<!--  </div>-->

  <div class="field">
    <%= t.label :priority, class: 'label' %>
      <div class="control">
        <%= t.select :priority, Task::PRIORITIES %>
      </div>
  </div>

  <div class="field">
    <%= t.label :completed, class: 'checkbox' %>
    <div class="control">
      <%= t.check_box :completed, class: 'checkbox' %>
    </div>
  </div>

  <%= t.submit 'Save', class: 'button is-primary'%>
  <%= link_to 'Back', :back, class: 'button is-primary' %>

<% end %>
