<div class="columns is-size-5">
  <table class="table">
    <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Date of create</th>
      <th>Date of completion</th>
    </tr>
    </thead>
    <% current_user.tasks.each do |t| %>
      <tbody>
      <tr>
        <th><%= t.title %>
        <th><%= t.description %></th>
        <th><%= t.created_at.strftime('%d-%m-%Y') %></th>
        <th><%= t.datetime.strftime('%d-%m-%Y') %></th>
        <th><%= link_to 'Edit', edit_task_path(t), class: 'button is-primary'%></th>
        <th><%= link_to 'Destroy', tasks_path, class: 'button is-danger' %></th>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
