<div class="container is-size-6">
  <div class="box">
    <p class="is-size-4">Author task: <%= link_to @task.user.name, user_path(@task.user.id) %></p>
  </div>
  <div class="box">
    <p class="is-size-4">Date of completion task: <%= @task.datetime.strftime('%d-%m-%Y') %></p>
  </div>
  <div class="box">
    <p class="is-size-4">Title task: <%= @task.title %></p>
  </div>
  <div class="box">
    <p class="is-size-4">Description task: <%= @task.description %></p>
  </div>
</div><br>

<%= link_to 'Edit', edit_task_path(@task), class: 'button is-primary'%>
<%= link_to 'Back', tasks_path, class: 'button is-primary' %>
