<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">

      <section class="">
        <div class="container main-content">
          <nav class="navbar is-light" role="navigation" aria-label="main navigation">
            <div class="navbar-menu">
              <div class="navbar-start">
                <p class="is-size-4"><%= link_to "My APP", root_path %></p>
              </div>

              <div class="navbar-end">
                <div class="navbar-item">

                  <% if user_signed_in? %>
                    <div class="buttons">
                      <div class="user-name">
                        <%= link_to current_user.name, current_user %>
                      </div>
                      <%#= link_to 'Профиль', current_user, class: 'button is-primary' %>
                      <%= link_to 'Выйти', destroy_user_session_path, method: :delete, class: 'button is-danger' %>
                    </div>
                  <% else %>
                    <div class="buttons">
                      <%= link_to 'Войти', new_user_session_path, class: 'button is-primary' %>
                      <%= link_to 'Зарегистрироваться', new_user_registration_path, class: 'button is-primary' %>
                    </div>
                  <% end %>

                </div>
              </div>
            </div>
          </nav>
          <%= yield %>
        </div>
      </section>
    </div>
    <footer class="hero-foot">
      <div class="content has-text-centered">
        <strong>GitHub Page</strong> <a href="https://github.com/SavelevSergei">SavelevSergei</a>
      </div>
    </footer>

  </body>
</html>
